@import "variables";

#chessboard {
    height: 90%;
    width: 90%;
    max-height: 90vw;
    max-width: 90vh;
    background-color: rgba(208, 166, 113, 0.8);
    border: 20px solid rgba(46, 35, 35, 0.83);
    margin-top: 5vh;
    flex: none;
}
#white-field {
    background-color: #F0D9B5;

}

#black-field {
    background-color: #B58863;
}

.figure {
    height: 90%;
    width: 90%;
}

.chessfield{
    height: 12.5%;
    width: 12.5%;
    text-align: center;
}

.chessboard-container {
    width: 100%;
    height: 100%;
    display: flex;
    background : -webkit-linear-gradient(top, #f89bc2 0%, $primary-color 70%, #6a002c 100%);
}

@media screen and (min-width: 1200px){
    .chessboard-container{
        flex-direction: row;
        justify-content: space-around;
    }
}
@media screen and (max-width: 1199px){
    .chessboard-container{
        margin-top: 3rem;
        flex-direction: column;
        justify-content: space-between;
    }

    .game-information-container{
        margin-top: 3rem;
    }
}

.game-information-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#game-id {
    padding: 10px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.24);
    margin-top: 5vh;
}

.moves-field {
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.35);
    height: 30vh;
    max-width: 30vw;
}