@import 'variables';
@import 'mixins';


.footer-container {
    font-size: 1rem;
    height: 15vh;
    background: white;
    color: $primary-color-dark;
    border-top: 1px solid black;
    padding: 1.5rem 6rem;
    display: flex;
    justify-content: space-between;

    a {
        text-decoration: none;
        color: $primary-color-dark;
    }
}

.footer-info {
    width: 60%;
    align-self: center;
}

.footer-links-container {

    ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 1rem 0;

        li {
            width: 100%;

            a {
                color: $primary-color-dark;
                text-decoration: none;
            }
        }
    }

    .icon {
        margin-right: 1.2rem;
        color: white;
        transition: all .2s .2s ease-in-out;
    }

    li:hover {
        .icon {
            color: $primary-color-dark;
        }
    }
}