@import "variables";
@import "mixins";

.footer-container {
    font-size: 1rem;
    min-height: 15vh;
    background: white;
    color: $primary-color-dark;
    border-top: 1px solid black;
    padding: 1.5rem 6rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    a {
        text-decoration: none;
        color: $primary-color-dark;
    }
}

.footer-info {
    width: 100%;
    text-align: center;
    margin-bottom: 1.5rem;
    align-self: center;

    @include respond(tablet) {
        width: 60%;
        text-align: left;
        margin-bottom: 0;
    }
}

.footer-links-container {
    width: 100%;
    text-align: center;

    @include respond(tablet) {
        width: auto;
        text-align: left;
    }

    ul {
        display: flex;
        flex-direction: column;
        padding: 1rem 0;
        align-items: center;

        @include respond(tablet) {
            align-items: flex-start;
        }


        li {
            width: 100%;

            a {
                color: $primary-color-dark;
                text-decoration: none;
            }
        }
    }

    .icon {
        margin-right: 1.2rem;
        color: white;
        transition: all .2s .2s ease-in-out;
    }

    li:hover {
        .icon {
            color: $primary-color-dark;
        }
    }
}
