@import "variables";

.btn-sidebar {
  background: rgba(128,128,128,.1);

  &:hover {
    background: rgba(128,128,128,.4);
  }
}

.sidebar-game {
  background: linear-gradient(180deg, rgba(255,255,255,0.8) 50%, rgba(244,24,116,0.8) 100%);
  backdrop-filter: blur(10px);
}

.item {

  &-ai {
    &:hover {
      color: white;
      background: $lg-card-1;
    }
  }

  &-local {
    &:hover {
      color: white;
      background: $lg-card-2;
    }
  }

  &-online {
    &:hover {
      color: white;
      background: $lg-card-3;
    }
  }
}

.sidebar-content-area {
  margin-top: 5rem;
  color: white;
}