@import "variables";
@import "mixins";

@include respond(tablet) {
    .sidebar {
        background-color: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(10px);
    }
}

.image-icon {
    width: 20px;
    height: auto;
}

.language-select {
    width: 50px;
    display: flex;
    align-self: flex-start;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 3px;
}


.dropdown-menu {
    background-color: rgba(255, 255, 255, .8);
    backdrop-filter: blur(5px);
}

.nav-link {
    color: $primary-color;

    &:hover {
        background-color: $primary-color;
        color: white;
    }
}

.nav-link.dropdown-toggle.show {
    background-color: $primary-color;
    color: white;
}

.logo {
    img {
        padding: 10px;
        width: 200px;
    }
}

.language-link {

    > * {
        color: $primary-color;
        text-decoration: none;

        &:hover {
            color: white;
        }
    }

    &:hover {
        background-color: rgba($primary-color, 0.3);
    }
}


#offcanvasCenter {
    min-width: 25rem;
    min-height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0);
    border-right: 0;
}

#offcanvasCenter .offcanvas-body::-webkit-scrollbar {
    display: none;
}

#offcanvasCenter .offcanvas-body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}