.login-link {
    text-decoration: none;
    transition: .2s all ease-in-out;
}

.login-link:hover {
    color: white !important;
}

.login-twitter {
    transition: .2s all ease-in-out;
}

.login-twitter:hover {
    color: #1DA1F2;
}

.login-facebook {
    transition: .2s all ease-in-out;
}

.login-facebook:hover {
    color: #4267B2;
}

.login-google {
    transition: .2s all ease-in-out;
}

.login-google:hover {
    color: #4285F4;
}
