@mixin flex-center($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  @if $direction == row {
    flex-direction: row;
  }
  @else {
    flex-direction: column;
  }
}

@mixin respond($breakpoint) {
  @if $breakpoint == desktop {
    @media (min-width: 1200px) {
      @content;
    }
  }
  @else if $breakpoint == phone {
    @media (min-aspect-ratio:4/3) {
      @content;
    }
  }
  @else {
    @content;
  }
}

  @mixin transition($props) {
    transition: $props;
    -webkit-transition: $props;
    -moz-transition: $props;
  }
