$primary-color: #f41874bd;
$primary-color-dark: #f41874;
$secondary-color: #fff;
$tertiary-color: #2c2222;
$control-color: rgba(34,23,29, 0.8);
$font-path: '../fonts/Roboto-Regular.ttf';


/** Overriden Bootstrap values **/
$navbar-light-color: $primary-color;
$navbar-light-hover-color: #fff;