@()(implicit messages: Messages)

@header()
@main("Welcome to ChessScala"){

    <div class="about-content-area">
        <h1 class="section-header m-bottom-2">@messages("about.title")</h1>
        <div class="section-skewed m-bottom-2">
            <div>
                <p class="basic-text-1-2">@messages("about.intro.text")</p>
            </div>
        </div>
    
        <h2 class="section-subheader m-bottom-1">@messages("about.background.title")</h2>
        <div class="section-skewed m-bottom-2">
            <div>
                <p class="basic-text-1-2">@messages("about.background.text")</p>
            </div>
        </div>
    
        <h2 class="section-subheader m-bottom-1">@messages("about.objectives.title")</h2>
        <div class="section-skewed m-bottom-2">
            <div>
                <ul class="basic-text-1-2">
                    <li>@messages("about.objectives.play.text")</li>
                    <li>@messages("about.objectives.technologies.text")</li>
                    <li>@messages("about.objectives.goal.text")</li>
                </ul>
            </div>
        </div>

        <h2 class="section-subheader m-bottom-1">@messages("about.project.developers.title")</h2>
        <div class="section-skewed m-bottom-2 m-bottom-1">
            <div class="basic-text-1-2">
                <p>@messages("about.project.developers.text"):</p>
                <ul class="m-top-1">
                    <li><a class="link-style" href="mailto:denis.bolintineanu@@htwg-konstanz.de">@messages("about.project.developers.denis")</a></li>
                    <li><a class="link-style" href="mailto:andre.koeniger@@htwg-konstanz.de">@messages("about.project.developers.andre")</a></li>
                </ul>
            </div>
        </div>
    
        <h2 class="section-subheader m-bottom-1">@messages("about.contact.information.title")</h2>
        <div class="section-skewed m-bottom-2 m-bottom-1">
            <div class="basic-text-1-2">
                <p>@messages("about.contact.information.text")</p>
            </div>
        </div>    
    </div>
}
@footer()