@()(implicit messages: Messages)
@main("Welcome to ChessScala"){
    @header()
    <div class="basic-page">
        <h1 class="header-primary mb-2">@messages("about.title")</h1>
        <div class="bg-skewed mb-2">
            <div>
                <p class="basic-text-1-2">@messages("about.intro.text")</p>
            </div>
        </div>

        <h2 class="header-secondary mb-1">@messages("about.background.title")</h2>
        <div class="bg-skewed mb-2">
            <div>
                <p class="basic-text-1-2">@messages("about.background.text")</p>
            </div>
        </div>

        <h2 class="header-secondary mb-1">@messages("about.objectives.title")</h2>
        <div class="bg-skewed mb-2">
            <div>
                <ul class="basic-text-1-2">
                    <li>@messages("about.objectives.play.text")</li>
                    <li>@messages("about.objectives.technologies.text")</li>
                    <li>@messages("about.objectives.goal.text")</li>
                </ul>
            </div>
        </div>

        <h2 class="header-secondary mb-1">@messages("about.project.developers.title")</h2>
        <div class="bg-skewed mb-2 mb-1">
            <div class="basic-text-1-2">
                <p>@messages("about.project.developers.text"):</p>
                <ul class="m-top-1">
                    <li><a class="link-primary-white" href="mailto:denis.bolintineanu@@htwg-konstanz.de">@@Denis Bolintineanu</a></li>
                    <li><a class="link-primary-white" href="mailto:andre.koeniger@@htwg-konstanz.de">@@André Königer</a></li>
                </ul>
            </div>
        </div>

        <h2 class="header-secondary mb-1">@messages("about.contact.information.title")</h2>
        <div class="bg-skewed mb-2 mb-1">
            <div class="basic-text-1-2">
                <p>@messages("about.contact.information.text")</p>
            </div>
        </div>
    </div>
    @footer()
}
