@import utils.ChesspieceImageManager
@(input: String, gameID: String, moves: List[String], board: ChesspieceImageManager)(implicit messages: Messages)
@main("Chess") {
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/main.css")">
    <div class="chessboard-container">
        <table border="0" id="chessboard">
            <tbody>
            @for(i <- (-7 to 0)){
                <tr>
                @for(j <- 0 to 7){
                    <td class="chessfield" id=@{if((i+j) % 2 != 0) "white-field" else "black-field"}>
                    @if(board.getImage(j,-i) != ""){
                        <img class="figure" src=@routes.Assets.versioned(board.getImage(j,-i))>
                        }
                    </td>
                }
                </tr>
            }
            </tbody>
        </table>

        <div class="game-information-container">

            <div id="game-id">
                <span>GameID: @gameID</span>
            </div>

            <div class="move-control-container">
                <div class="input-field">
                    <div>@input</div>
                    <br>
                    <form method="post" action="/game?id=@gameID">
                        <label for="textfeld">Input:</label>
                        <input type="text" id="textfeld" name="command" autofocus style="color: black">
                        <input type="submit" value="Submit"style="background-color: #f41874">
                    </form>

                </div>
                <div id="move-textfield">
                    Moves:
                    <br>
                    <br>
                    @moves.mkString(", ")
                </div>
            </div>

        </div>

    </div>

}