@import ch.qos.logback.core.joran.spi.EventPlayer
@()(implicit messages: Messages)
@main("Play Chess") {
    <div class="play-game-page container">
        <div class="row">
            <button type="button" class="navbar-toggler shadow-none border-0 btn-sidebar col-1" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"></button>
            <div class="sidebar offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            @gamesidebar()
            </div>
            <div class="chessboard-page col-11">
                <div class="game-container">
                    <div class="chessboard-container">
                        <div class="chessboard" id="Chessboard"></div>
                    </div>
                </div>

                <div class="game-information-container">
                    <div id="game-id">
                        <span style="cursor: pointer; font-size: 1.25rem;"><i class="fa-regular fa-clipboard" style="font-size: 2rem;margin-right: 10px"></i>Copy GameID</span>
                    </div>
                    <div class="move-input-controls">
                        <div class="btn" id="newGameButton" style="display: none">New game</div>
                        <div class="btn" id="undoButton">Undo</div>
                        <div class="btn" id="resignButton">Resign</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <!-- Promotion Modal -->
    <div id="promotionModal" class="modal">
        <div class="modal-content">
            <span class="closeModal">&times;</span>
            <button id="promoteQueen" data-piece="q">Dame</button>
            <button id="promoteRook" data-piece="r">Turm</button>
            <button id="promoteBishop" data-piece="b">Läufer</button>
            <button id="promoteKnight" data-piece="n">Springer</button>
        </div>
    </div>


    <audio id="notificationSound" src="@routes.Assets.versioned("sounds/notification.wav")" preload="auto"></audio>
    <audio id="moveSound" src="@routes.Assets.versioned("sounds/move.wav")" preload="auto"></audio>
    <audio id="captureSound" src="@routes.Assets.versioned("sounds/capture.wav")" preload="auto"></audio>
}
