@import utils.ChesspieceImageManager
@(input: String, gameID: String, moves: List[String], board: ChesspieceImageManager)

@main("Chess") {
    <table border="0">
        <tr>
            <td height="50"></td>
            <td>

            </td>
        </tr>
        <tr>
            <td width="400"></td>
            <td width="560" height="560">
                <table border="1">
                    <tbody>
                        <tr>
                            <td width="70" height="70">
                                @if(board.getImage(0,7) != ""){
                                <img src=@routes.Assets.versioned(board.getImage(0,7)) width="60">
                                }
                            </td>
                            <td width="70" height="70">
                            @if(board.getImage(1,7) != ""){
                                <img src=@routes.Assets.versioned(board.getImage(1,7)) width="60">
                                }
                            </td>
                            <td width="70" height="70">
                            @if(board.getImage(2,7) != ""){
                                <img src=@routes.Assets.versioned(board.getImage(2,7)) width="60">
                                }
                            </td>
                            <td width="70" height="70">
                            @if(board.getImage(3,7) != ""){
                                <img src=@routes.Assets.versioned(board.getImage(3,7)) width="60">
                                }
                            </td>
                            <td width="70" height="70">
                            @if(board.getImage(4,7) != ""){
                                <img src=@routes.Assets.versioned(board.getImage(4,7)) width="60">
                                }
                            </td>
                            <td width="70" height="70">
                            @if(board.getImage(5,7) != ""){
                                <img src=@routes.Assets.versioned(board.getImage(5,7)) width="60">
                                }
                            </td>
                            <td width="70" height="70">
                            @if(board.getImage(6,7) != ""){
                                <img src=@routes.Assets.versioned(board.getImage(6,7)) width="60">
                                }
                            </td>
                            <td width="70" height="70">
                            @if(board.getImage(7,7) != ""){
                                <img src=@routes.Assets.versioned(board.getImage(7,7)) width="60">
                                }
                            </td>
                        </tr>
                        <tr>
                            <td width="70" height="70">
                            @if(board.getImage(0,6) != ""){
                                <img src=@routes.Assets.versioned(board.getImage(0,6)) width="60">
                                }
                            </td>
                            <td width="70" height="70">
                            @if(board.getImage(1,6) != ""){
                                <img src=@routes.Assets.versioned(board.getImage(1,6)) width="60">
                                }
                            </td>
                            <td width="70" height="70">
                            @if(board.getImage(2,6) != ""){
                                <img src=@routes.Assets.versioned(board.getImage(2,6)) width="60">
                                }
                            </td>
                            <td width="70" height="70">
                            @if(board.getImage(3,6) != ""){
                                <img src=@routes.Assets.versioned(board.getImage(3,6)) width="60">
                                }
                            </td>
                            <td width="70" height="70">
                            @if(board.getImage(4,6) != ""){
                                <img src=@routes.Assets.versioned(board.getImage(4,6)) width="60">
                                }
                            </td>
                            <td width="70" height="70">
                            @if(board.getImage(5,6) != ""){
                                <img src=@routes.Assets.versioned(board.getImage(5,6)) width="60">
                                }
                            </td>
                            <td width="70" height="70">
                            @if(board.getImage(6,6) != ""){
                                <img src=@routes.Assets.versioned(board.getImage(6,6)) width="60">
                                }
                            </td>
                            <td width="70" height="70">
                            @if(board.getImage(7,6) != ""){
                                <img src=@routes.Assets.versioned(board.getImage(7,6)) width="60">
                                }
                            </td>
                        </tr>
                        <tr>
                            <td width="70" height="70">
                            @if(board.getImage(0,5) != ""){
                                <img src=@routes.Assets.versioned(board.getImage(0,5)) width="60">
                                }
                            </td>
                            <td width="70" height="70">
                            @if(board.getImage(1,5) != ""){
                                <img src=@routes.Assets.versioned(board.getImage(1,5)) width="60">
                                }
                            </td>
                            <td width="70" height="70">
                            @if(board.getImage(2,5) != ""){
                                <img src=@routes.Assets.versioned(board.getImage(2,5)) width="60">
                                }
                            </td>
                            <td width="70" height="70">
                            @if(board.getImage(3,5) != ""){
                                <img src=@routes.Assets.versioned(board.getImage(3,5)) width="60">
                                }
                            </td>
                            <td width="70" height="70">
                            @if(board.getImage(4,5) != ""){
                                <img src=@routes.Assets.versioned(board.getImage(4,5)) width="60">
                                }
                            </td>
                            <td width="70" height="70">
                            @if(board.getImage(5,5) != ""){
                                <img src=@routes.Assets.versioned(board.getImage(5,5)) width="60">
                                }
                            </td>
                            <td width="70" height="70">
                            @if(board.getImage(6,5) != ""){
                                <img src=@routes.Assets.versioned(board.getImage(6,5)) width="60">
                                }
                            </td>
                            <td width="70" height="70">
                            @if(board.getImage(7,5) != ""){
                                <img src=@routes.Assets.versioned(board.getImage(7,5)) width="60">
                                }
                            </td>
                        </tr>
                        <tr>
                            <td width="70" height="70">
                            @if(board.getImage(0,4) != ""){
                                <img src=@routes.Assets.versioned(board.getImage(0,4)) width="60">
                                }
                            </td>
                            <td width="70" height="70">
                            @if(board.getImage(1,4) != ""){
                                <img src=@routes.Assets.versioned(board.getImage(1,4)) width="60">
                                }
                            </td>
                            <td width="70" height="70">
                            @if(board.getImage(2,4) != ""){
                                <img src=@routes.Assets.versioned(board.getImage(2,4)) width="60">
                                }
                            </td>
                            <td width="70" height="70">
                            @if(board.getImage(3,4) != ""){
                                <img src=@routes.Assets.versioned(board.getImage(3,4)) width="60">
                                }
                            </td>
                            <td width="70" height="70">
                            @if(board.getImage(4,4) != ""){
                                <img src=@routes.Assets.versioned(board.getImage(4,4)) width="60">
                                }
                            </td>
                            <td width="70" height="70">
                            @if(board.getImage(5,4) != ""){
                                <img src=@routes.Assets.versioned(board.getImage(5,4)) width="60">
                                }
                            </td>
                            <td width="70" height="70">
                            @if(board.getImage(6,4) != ""){
                                <img src=@routes.Assets.versioned(board.getImage(6,4)) width="60">
                                }
                            </td>
                            <td width="70" height="70">
                            @if(board.getImage(7,4) != ""){
                                <img src=@routes.Assets.versioned(board.getImage(7,4)) width="60">
                                }
                            </td>
                        </tr>
                        <tr>
                            <td width="70" height="70">
                            @if(board.getImage(0,3) != ""){
                                <img src=@routes.Assets.versioned(board.getImage(0,3)) width="60">
                                }
                            </td>
                            <td width="70" height="70">
                            @if(board.getImage(1,3) != ""){
                                <img src=@routes.Assets.versioned(board.getImage(1,3)) width="60">
                                }
                            </td>
                            <td width="70" height="70">
                            @if(board.getImage(2,3) != ""){
                                <img src=@routes.Assets.versioned(board.getImage(2,3)) width="60">
                                }
                            </td>
                            <td width="70" height="70">
                            @if(board.getImage(3,3) != ""){
                                <img src=@routes.Assets.versioned(board.getImage(3,3)) width="60">
                                }
                            </td>
                            <td width="70" height="70">
                            @if(board.getImage(4,3) != ""){
                                <img src=@routes.Assets.versioned(board.getImage(4,3)) width="60">
                                }
                            </td>
                            <td width="70" height="70">
                            @if(board.getImage(5,3) != ""){
                                <img src=@routes.Assets.versioned(board.getImage(5,3)) width="60">
                                }
                            </td>
                            <td width="70" height="70">
                            @if(board.getImage(6,3) != ""){
                                <img src=@routes.Assets.versioned(board.getImage(6,3)) width="60">
                                }
                            </td>
                            <td width="70" height="70">
                            @if(board.getImage(7,3) != ""){
                                <img src=@routes.Assets.versioned(board.getImage(7,3)) width="60">
                                }
                            </td>
                        </tr>
                        <tr>
                            <td width="70" height="70">
                            @if(board.getImage(0,2) != ""){
                                <img src=@routes.Assets.versioned(board.getImage(0,2)) width="60">
                                }
                            </td>
                            <td width="70" height="70">
                            @if(board.getImage(1,2) != ""){
                                <img src=@routes.Assets.versioned(board.getImage(1,2)) width="60">
                                }
                            </td>
                            <td width="70" height="70">
                            @if(board.getImage(2,2) != ""){
                                <img src=@routes.Assets.versioned(board.getImage(2,2)) width="60">
                                }
                            </td>
                            <td width="70" height="70">
                            @if(board.getImage(3,2) != ""){
                                <img src=@routes.Assets.versioned(board.getImage(3,2)) width="60">
                                }
                            </td>
                            <td width="70" height="70">
                            @if(board.getImage(4,2) != ""){
                                <img src=@routes.Assets.versioned(board.getImage(4,2)) width="60">
                                }
                            </td>
                            <td width="70" height="70">
                            @if(board.getImage(5,2) != ""){
                                <img src=@routes.Assets.versioned(board.getImage(5,2)) width="60">
                                }
                            </td>
                            <td width="70" height="70">
                            @if(board.getImage(6,2) != ""){
                                <img src=@routes.Assets.versioned(board.getImage(6,2)) width="60">
                                }
                            </td>
                            <td width="70" height="70">
                            @if(board.getImage(7,2) != ""){
                                <img src=@routes.Assets.versioned(board.getImage(7,2)) width="60">
                                }
                            </td>
                        </tr>
                        <tr>
                            <td width="70" height="70">
                            @if(board.getImage(0,1) != ""){
                                <img src=@routes.Assets.versioned(board.getImage(0,1)) width="60">
                                }
                            </td>
                            <td width="70" height="70">
                            @if(board.getImage(1,1) != ""){
                                <img src=@routes.Assets.versioned(board.getImage(1,1)) width="60">
                                }
                            </td>
                            <td width="70" height="70">
                            @if(board.getImage(2,1) != ""){
                                <img src=@routes.Assets.versioned(board.getImage(2,1)) width="60">
                                }
                            </td>
                            <td width="70" height="70">
                            @if(board.getImage(3,1) != ""){
                                <img src=@routes.Assets.versioned(board.getImage(3,1)) width="60">
                                }
                            </td>
                            <td width="70" height="70">
                            @if(board.getImage(4,1) != ""){
                                <img src=@routes.Assets.versioned(board.getImage(4,1)) width="60">
                                }
                            </td>
                            <td width="70" height="70">
                            @if(board.getImage(5,1) != ""){
                                <img src=@routes.Assets.versioned(board.getImage(5,1)) width="60">
                                }
                            </td>
                            <td width="70" height="70">
                            @if(board.getImage(6,1) != ""){
                                <img src=@routes.Assets.versioned(board.getImage(6,1)) width="60">
                                }
                            </td>
                            <td width="70" height="70">
                            @if(board.getImage(7,1) != ""){
                                <img src=@routes.Assets.versioned(board.getImage(7,1)) width="60">
                                }
                            </td>
                        </tr>
                        <tr>
                            <td width="70" height="70">
                            @if(board.getImage(0,0) != ""){
                                <img src=@routes.Assets.versioned(board.getImage(0,0)) width="60">
                                }
                            </td>
                            <td width="70" height="70">
                            @if(board.getImage(1,0) != ""){
                                <img src=@routes.Assets.versioned(board.getImage(1,0)) width="60">
                                }
                            </td>
                            <td width="70" height="70">
                            @if(board.getImage(2,0) != ""){
                                <img src=@routes.Assets.versioned(board.getImage(2,0)) width="60">
                                }
                            </td>
                            <td width="70" height="70">
                            @if(board.getImage(3,0) != ""){
                                <img src=@routes.Assets.versioned(board.getImage(3,0)) width="60">
                                }
                            </td>
                            <td width="70" height="70">
                            @if(board.getImage(4,0) != ""){
                                <img src=@routes.Assets.versioned(board.getImage(4,0)) width="60">
                                }
                            </td>
                            <td width="70" height="70">
                            @if(board.getImage(5,0) != ""){
                                <img src=@routes.Assets.versioned(board.getImage(5,0)) width="60">
                                }
                            </td>
                            <td width="70" height="70">
                            @if(board.getImage(6,0) != ""){
                                <img src=@routes.Assets.versioned(board.getImage(6,0)) width="60">
                                }
                            </td>
                            <td width="70" height="70">
                            @if(board.getImage(7,0) != ""){
                                <img src=@routes.Assets.versioned(board.getImage(7,0)) width="60">
                                }
                            </td>
                        </tr>


                    </tbody>
                </table>
            </td>
        </tr>
    </table>

    <br>

    <table>
<tr>
    <td width="500"></td>
    <td>
    <h3>@input</h3>
    <form method="post" action="/game?id=@gameID">
        <label for="textfeld">Input:</label>
        <input type="text" id="textfeld" name="command" autofocus>
        <input type="submit" value="Submit">
    </form>
    <br>
    <span>GameID: @gameID</span>
    <br>
    <br>
    @moves.mkString(", ")
    </td>
</tr>
    </table>
}