@import utils.ChesspieceImageManager
@import services.local.LocalPersistenceService
@import ch.qos.logback.core.joran.spi.EventPlayer
@(input: String, playerID: String, gameID: String, moves: List[String], board: ChesspieceImageManager)(implicit messages: Messages)
@header()
@main("Play Chess") {
    <div class="chessboard-page">
        <div class="game-container">
            <div class="chessboard-container">
                <div class="chessboard">
                @for(i <- (-8 to 0)) {
                    @for(j <- -1 to 7) {
                        @{

                            (i, j) match {
                                case (0, j) => <div class="number-field">{if(j >= 0) ('A' + j).toChar}</div>
                                case (i, -1) => <div class="number-field">{if (i < 0) -i}</div>
                                case _ =>
                                    <div class={if ( (i + j) % 2 == 0 ) "chess-field white-field" else "chess-field black-field"}>
                                    {if (board.getImage(j, -i-1) != "")
                                            <img class="figure" src={routes.Assets.versioned(board.getImage(j,-i-1)).toString}/>
                                    }
                                    </div>
                            }
                        }
                    }
                }
                </div>
            </div>
        </div>

        <div class="game-information-container">
            <div id="game-id">
                <span>GameID: @gameID</span>
            </div>
            <div class="move-input-controls">
                <div class="text-colorized">@input</div>
                <br>
                <form class="mb-2 form-move-input-controls" method="post" action="/game/id=@playerID">
                    <label for="move-input">@messages("chess.input"):</label>
                    <input type="hidden" name="type" value="move">
                    <input type="text" class="move-input-primary" id="move-input" name="move" autofocus>
                    <input type="submit" class="btn-cta-primary" value="@messages("chess.submit")">
                </form>
            </div>
            <div class="moves-field mt-2">
                <h3 class="mb-2">@messages("chess.moves"):</h3>
                <p class="text-responsive text-colorized">@moves.mkString(", ")</p>
            </div>
        </div>
    </div>
}
@footer()