@()(implicit messages: Messages)
    <footer>
        <div class="footer-container">
            <div class="footer-info">
                <p>@messages("footer.developed.by.text")</p>
                <p>@messages("footer.developed.for.text") <a href="https://www.htwg-konstanz.de/">@@HTWG Konstanz</a>, WS 23/24</p>
            </div>
    
            <div class="footer-links-container">
                <h3 class="m-bottom-1">@messages("footer.quicklinks.title")</h3>
                <ul class="footer-links">
                    <li><span class="fa-solid fa-chess-knight icon"></span><a href="/">@messages("header.home")</a></li>
                    <li><span class="fa-solid fa-chess-knight icon"></span><a href="/lobby">@messages("header.lobby")</a></li>
                    <li><span class="fa-solid fa-chess-knight icon"></span><a href="/rules">@messages("header.rules")</a></li>
                    <li><span class="fa-solid fa-chess-knight icon"></span><a href="/about">@messages("header.about")</a></li>
                </ul>
            </div>
        </div>
    </footer>