@()
<footer>
    <div class="footer-container">
        <div class="footer-info">
            <p>Developed by Denis Bolinteneau & André Königer</p>
            <p>Webapplications <a href="https://www.htwg-konstanz.de/">@@HTWG Konstanz</a>, WS 23/24</p>
        </div>

        <div class="footer-links-container">
            <h3 class="m-bottom-1">Quick Links</h3>
            <ul class="footer-links">
                <li><a href="/">Home</a></li>
                <li><a href="/lobby">Lobby</a></li>
                <li><a href="/rules">Rules</a></li>
                <li><a href="/about">About</a></li>
            </div>
        </div>
    </div>
</footer>