@()(implicit messages: Messages)
<div class="sidebar-container container">
    <div class="mt-3 mb-3">
        <div class="col-12">
            <img class="img-fluid" alt="WA_Chess Logo small" src=@routes.Assets.versioned("images/logo.png")>
        </div>
    </div>
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-start mt-5" id="menu">
        <li class="nav-item">
            <a href="@routes.HomeController.index()" class="nav-link text-truncate">@messages("header.home")</a>
        </li>
        <li class="dropdown">
            <a href="#" class="nav-link dropdown-toggle  text-truncate" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false">@messages("index.start.game")</a>
            <ul class="dropdown-menu text-small shadow p-0" aria-labelledby="dropdown">
                <li><a class="dropdown-item item-ai" href="#">@messages("game.mode.ai")</a></li>
                <li><a class="dropdown-item item-local" href="#">@messages("game.mode.local")</a></li>
                <li><a class="dropdown-item item-online" href="#">@messages("game.mode.online")</a></li>
            </ul>
        </li>
        <li>
            <a href="@routes.HomeController.rules()" class="nav-link text-truncate">@messages("header.rules")</a>
        </li>
        <li>
            <a href="@routes.HomeController.about()" class="nav-link text-truncate">@messages("header.about")</a>
        </li>
    </ul>
</div>
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col min-vh-100 py-3">
                <!-- toggler -->
            <button class="btn float-end" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" role="button">
                <i class="bi bi-arrow-right-square-fill fs-3" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"></i>
            </button>
            <div class="col-12 ms-3 sidebar-content-area">
                <p>@messages("footer.developed.by.text")</p>
                <p>@messages("footer.developed.for.text") <a href="https://www.htwg-konstanz.de/">@@HTWG Konstanz</a>, WS 23/24</p>
            </div>
        </div>
    </div>
</div>
