@()(implicit messages: Messages)
    <header>
        <div class="heading">
          <div class="logo">
            <a href="@routes.HomeController.index()">
                <img alt="WA_Chess Logo small" src=@routes.Assets.versioned("images/logo.png")>
            </a>
          </div>
          <div class="nav-links">
            <ul class="links">
              <li><a href="@routes.HomeController.index()">@messages("header.home")</a></li>
              <li><a href="@routes.HomeController.index()">@messages("header.lobby")</a></li>
              <li><a href="@routes.HomeController.rules()">@messages("header.rules")</a></li>
              <li><a href="@routes.HomeController.about()">@messages("header.about")</a></li>
            </ul>
    
            <div class="language-select">
              <div class="language">
                <a href="@routes.HomeController.reloadCurrentPageWithLang("de")">
                  @language_de()
                </a>
              </div>
              <div class="language">
                <a href="@routes.HomeController.reloadCurrentPageWithLang("de")">
                  @language_en()
                </a>
              </div>
              <div class="language">
                <a href="@routes.HomeController.reloadCurrentPageWithLang("de")">
                  @language_es()
                </a>
              </div>
            </div>
          </div>
        </div>
    </header>

