@()
@header()
@main("Welcome to Play") {  
  <div class="content-area">
    <div class="main">
      <img class="logo--large" src=@routes.Assets.versioned("images/logo.png")>
      <h2 class="index-heading">ChessScala</h2>
      <div class="start-game-wrapper">
        <a href="@routes.HomeController.newGame()">Start new Game</a>
      </div>
      <div class="join-game">
        <h3>Have a session Id?</h3>
        <div class="join-game-form">
          <form action="/game" method="GET">
            <input type="text" name="id" autocomplete="off" placeholder="Session ID">
            <input type="submit" value="Join now">
          </form>
        </div>
      </div>
    </div>
  </div>
}
