@()
   <a href="@routes.HomeController.reloadCurrentPageWithLang("de")">
     <svg width="100%" height="100%" viewBox="0 0 80 80" xmlns="http://www.w3.org/2000/svg">
       <defs>
           <clipPath id="clipPath941">
               <circle cx="40" cy="40" r="40" />
           </clipPath>
       </defs>
       <g clip-path="url(#clipPath941)">
           <rect style="fill:#000000;" id="rect649" width="80" height="26.6667" x="0" y="0" />
           <rect style="fill:#ff0000;" id="rect651" width="80" height="26.6667" x="0" y="26.6667" />
           <rect style="fill:#ffff00;" id="rect764" width="80" height="26.6667" x="0" y="53.3334" />
       </g>
   </svg>
   </a>
