@()(implicit messages: Messages)
<a href="@routes.HomeController.reloadCurrentPageWithLang("en")">
    <svg width="15%" height="15%" viewBox="0 0 80 80" xmlns="http://www.w3.org/2000/svg">
       <defs>
           <clipPath id="clipPath941">
               <circle cx="40" cy="40" r="40" />
           </clipPath>
       </defs>
       <g clip-path="url(#clipPath941)">
           <rect style="fill:hsl(240, 100%, 25%);" id="rect649" width="80" height="80" x="0" y="0" />
           <rect style="fill:hsl(0, 0%, 100%);" id="rect650" width="130" height="10" x="-50" y="30" transform="rotate(-40 40 13.3333)"/>
           <rect style="fill:hsl(0, 0%, 100%);" id="rect651" width="130" height="10" x="0" y="30" transform="rotate(40 40 13.3333)"/>
           <rect style="fill:hsl(0, 100%, 50%);" id="rect652" width="130" height="4" x="-50" y="33" transform="rotate(-40 40 13.3333)"/>
           <rect style="fill:hsl(0, 100%, 50%);" id="rect653" width="130" height="4" x="0" y="33" transform="rotate(40 40 13.3333)"/>
           <rect style="fill:hsl(0, 0%, 100%);" id="rect654" width="80" height="14" x="0" y="33"/>
           <rect style="fill:hsl(0, 0%, 100%);" id="rect655" width="14" height="80" x="33" y="0"/>
           <rect style="fill:hsl(0, 100%, 50%);" id="rect656" width="80" height="8" x="0" y="36"/>
           <rect style="fill:hsl(0, 100%, 50%);" id="rect657" width="8" height="80" x="36" y="0"/>

       </g>
   </svg>
        &nbsp;
    <span>@messages("header.language.flag.english")</span>
   </a>