@import ch.qos.logback.core.joran.spi.EventPlayer
@()(implicit messages: Messages)
@main("Play Chess") {
    <div class="popup" id="selectTeam">
        <div class="selectTeam">
            <img alt="WA_Chess Logo small" src=@routes.Assets.versioned("images/logo.png")>
            <div style="margin-top: 2rem; margin-bottom: 1rem;">
                <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Start game as white
                </button>
                <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Start game as black
                </button>
            </div>
            <a href="/" type="button" class="btn btn-outline-primary">Main menu</a>
        </div>
    </div>
    <div class="play-game-page container">
        <div class="row">
            <button type="button" class="navbar-toggler shadow-none border-0 btn-sidebar col-1" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"></button>
            <div class="sidebar offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                @gamesidebar()
            </div>
            <div class="chessboard-page col-11">
                <div class="game-container">
                    <div class="chessboard-container">
                        <div class="chessboard" id="chessboard2"></div>
                    </div>
                </div>


                <div class="game-information-container">
                    <div id="game-id">
                    </div>
                    <div class="move-input-controls">
                        <div class="btn" id="undoButton">Undo</div>
                    </div>
                    <div class="moves-field mt-2">
                    </div>
                </div>
            </div>
        </div>
    </div>

        <!-- Promotion Modal -->
    <div id="promotionModal" class="modal">
        <div class="modal-content">
            <span class="closeModal">&times;</span>
            <button id="promoteQueen" data-piece="q">Dame</button>
            <button id="promoteRook" data-piece="r">Turm</button>
            <button id="promoteBishop" data-piece="b">Läufer</button>
            <button id="promoteKnight" data-piece="n">Springer</button>
        </div>
    </div>

    <audio id="notificationSound" src="@routes.Assets.versioned("sounds/GenericNotify.mp3")" preload="auto"></audio>
    <audio id="moveSound" src="@routes.Assets.versioned("sounds/Move.mp3")" preload="auto"></audio>
    <audio id="captureSound" src="@routes.Assets.versioned("sounds/Capture.mp3")" preload="auto"></audio>

    <script type="module" src="@routes.Assets.versioned("javascripts/stockfish.js")"></script>
    <script type="module" src="@routes.Assets.versioned("javascripts/main.js")"></script>
}
