.main {
  filter: drop-shadow(0px 30px 50px rgba(0,0,0,0.7))
}

.bg-custom-dark {
  background: linear-gradient(to right, #24243e, #6f59a0, #0f0c29);
}

.bg-custom-light {
  background: linear-gradient(to right, #cae0ff, #f0f0f0, #fff3e4);
}

